@font-face{
  font-family: 'CerebriSans-Regular';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/CerebriSans-Regular.woff2') format('woff2'), url('../fonts/CerebriSans-Regular.woff') format('woff');
}
@font-face{
  font-family: 'cerebrisans-medium';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/cerebrisans-medium.woff2') format('woff2'), url('../fonts/cerebrisans-medium.woff') format('woff');
}
@font-face{
  font-family: 'CerebriSans-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/CerebriSans-SemiBold.woff2') format('woff2'), url('../fonts/CerebriSans-SemiBold.woff') format('woff');
}
@font-face{
  font-family: 'CerebriSans-Bold';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/CerebriSans-Bold.woff2') format('woff2'), url('../fonts/CerebriSans-Bold.woff') format('woff');
}
@font-face{
  font-family: 'CerebriSans-ExtraBold';
  font-weight: 800;
  font-style: normal;
  src: url('../fonts/CerebriSans-ExtraBold.woff2') format('woff2'), url('../fonts/CerebriSans-ExtraBold.woff') format('woff');
}
@font-face{
  font-family: 'CerebriSans-Italic';
  font-weight:  400;
  font-style: normal;
  src: url('../fonts/CerebriSans-Italic.woff2') format('woff2'), url('../fonts/CerebriSans-Italic.woff') format('woff');
}
@font-face{
  font-family: 'Cookie-regular';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Cookie-regular.woff2') format('woff2'), url('../fonts/Cookie-regular.woff') format('woff');
}

@font-face{
  font-family: 'Poppinsregular';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Poppinsregular.woff2') format('woff2'), url('../fonts/Poppinsregular.woff') format('woff');
}
@font-face{
  font-family: 'Poppinspoppins-semiboldmedium';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Poppinspoppins-semiboldmedium.woff2') format('woff2'), url('../fonts/Poppinspoppins-semiboldmedium.woff') format('woff');
}
@font-face{
  font-family: 'Poppinsbold';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Poppinsbold.woff2') format('woff2'), url('../fonts/Poppinsbold.woff') format('woff');
}